
.root {
    /*This applies styling for the root node*/
    -fx-background-color: linear-gradient(
      from 0% 0% to 100% 200%,
      repeat,
      #fbeee6 0%,
      #cde0c9 50%
    );
    -fx-font-family: "Lucida Console";
  }

.label {
    -fx-padding: 2px;
    -fx-font-weight: bold;
    

}


.button {
    -fx-background-color: #ff6666;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}

#bookBtn {
    -fx-background-color: blue; 
}
#download {
    -fx-background-color: blue; 
}
.button:hover {
    -fx-background-color: red;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: #ff3333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-translate-y: 2px;
}


.listview {
    fx-cell-size: 40px;
}

#header1 {
    -fx-background-color:  red;  
    -fx-border-radius: 20 20 20 20; 
    -fx-background-radius: 10 10 10 10;
    -fx-width: 100%;  
};
